.chart-container {
  font-size: 20px;

  > .axis-v-container {
    width: 40px;

    .axis-v {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      left: -42px;
      margin-top: -10px;
      position: absolute;
      text-align: center;
      top: 50%;
      z-index: 9999;
    }
  }

  .axis-h {
    height: 36px;
  }
}
